{% extends 'redactor-base.html' %}
{% load i18n %}
{% load static %}

  {% block title %}
    <title>{% trans 'Рецензист – Очередь статей' %}</title>
  {% endblock %}


  {% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/redactor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Articlequeue.css' %}" />

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% endblock %}

{% block content %}

  <main class="main-content">
    <section class="article-queue">
      <h2>{% trans 'Очередь статей' %}</h2>
      <table class="article-table">
        <thead>
          <tr>
            <th>№</th>
            <th>{% trans 'Название' %}</th>
<!--            <th>Автор</th>-->
            <th>{% trans 'Дата отправки' %}</th>
            <th>{% trans 'Статус' %}</th>
            <th>{% trans 'Действие' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in reviews %}
        <tr>
            <td data-label="№">{{ obj.bid.pk }}</td>
            <td data-label="Название">{{ obj.bid.article.title }}</td>
<!--            <td data-label="Автор">{{ obj.bid.article.authors }}</td>-->
            <td data-label="Дата отправки">{{ obj.datetime_created }}</td>
            <td data-label="Статус">{{ obj.get_status_display  }}</td>
            <td data-label="Действие"><a href="{% url 'edit-request-reviewer' obj.pk %}" class="btn-small">{% trans 'Проверить' %}</a></td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
       {% include "includes/pagination.html" %}

    </section>
  </main>

</div>
{% endblock %}
