{% extends 'redactor-base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  <title>{% trans 'Рецензирование статей' %}</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/reviewer.css' %}"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
{% endblock %}

{% block content %}
  <div class="wrapper">


    <!-- Основной контент -->
    <main class="main-content">
      <section class="upload-section">
        <h2>{% trans 'Рецензирование статьи' %}</h2>

        <div class="input-group">
          <label>{% trans 'Название статьи' %}</label>
          <p>{{ object.bid.article.title }}</p>
        </div>

        <div class="input-group">
          <label>{% trans 'Аннотация' %}</label>
          <p>{{ object.bid.article.annotation|safe }}</p>
        </div>
        <div class="input-group">
          <label>{% trans 'Файл статьи' %}</label>
          <a href="{{ object.article.file.url }}" target="_blank">{% trans 'Скачать статью' %}</a>
        </div>
        {{ form.media }}
        <form id="reviewForm" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
        {{ form.as_p }}

          <div class="input-group">
            <button type="submit" class="btn" name="decision" value="save">{% trans 'Сохранить' %}</button>
            <button type="submit" class="btn" name="decision" value="submit">{% trans 'Отправить рецензию' %}</button>
          </div>
        </form>
      </section>
    </main>

  </div>


{% endblock %}}