{% extends 'guest-base.html' %}
{% load i18n %}

{% load static %}
{% load bid_filters %}

{% block title %}
<title>Новости — Вестник Туран</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
{% endblock %}


 {% block content %}
 <div class="wrapper">
  <!-- Основной контент -->
  <main class="main-content">
    <h1>{% trans 'Новости журнала' %}</h1>

    <section class="news-list">
      {% for obj in object_list %}
      <article class="news-card">
        <img src="{{ obj.image.url }}" alt="Прием статей" class="news-thumb" />
        <div class="news-info">
          <h2><a href="{% url 'detail-news' obj.pk %}">{{ obj.title_eng }}</a></h2>
          <p class="news-meta">Дата: {{ obj.date }} | Автор: Редакция</p>
          <p>{{ obj.description_eng|clean_preview:50 }}</p>

          <a href="{% url 'detail-news' obj.pk %}" class="btn">{% trans 'Читать далее' %}</a>
        </div>
      </article>
      {% endfor %}


    </section>

    <!-- Пагинация -->
    {% include "includes/pagination.html" %}

  </main>
</div>
{% endblock %}