{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% trans 'Редактировать заявку' %}</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/edit-request.css' %}" />
{% endblock %}


{% block content %}
<body>
  <div class="page-wrapper">

    <main class="main-content">
      <section class="edit-request-section">
        <h1>{% trans 'Редактировать заявку' %} </h1>
        {% if object.comment %}
          <h3>{% trans 'Комментарии редактора' %}: {{ object.comment|safe }}</h3>
        {% endif %}
        {{ article_form.media }}
        <form enctype="multipart/form-data" method="POST" class="edit-request-form"  id="uploadForm">
        {% csrf_token %}
            <div class="input-group">
              {{ article_form.as_p }}
            </div>
            <input type="hidden" name="article_id" value="{{ obj.pk }}">
              <div class="form-group">
                {{ form.ai_usage_details.label_tag }}<br>
                {{ form.ai_usage_details }}
              </div>
              <div class="form-group">
                {{ form.manuscript.label_tag }}
                {{ form.manuscript }}
              </div>

              <div class="form-group">
                {{ form.authors_file.label_tag }}
                {{ form.authors_file }}
              </div>

              <div class="form-group">
                {{ form.cover_letter.label_tag }}
                {{ form.cover_letter }}
              </div>
          <div class="form-buttons">
            <button type="submit" class="btn btn-primary">{% trans 'Сохранить изменения' %}</button>
          </div>
        </form>
      </section>
    </main>


  </div>
</body>
{% endblock %}