{% extends 'base.html' %}
{% load static %}
  {% block title %}
  <title>Мои заявки</title>
  {% endblock %}
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/requests.css' %}"> <!-- Подключаем внешний файл стилей -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% endblock %}
{% block content %}
  <!-- Основной контент -->
  <main class="main-content">
    <h2>Мои заявки</h2>

    <!-- Секция с заявками -->
    <section class="requests-section">
      {% for obj in object_list %}

        <div class="request-item">
          <h3 class="request-title">{{ obj.title }}</h3>
          <p class="request-date">Дата подачи: {{ obj.date_created }}</p>
          <p class="request-status">Статус: {{ obj.get_status_display  }}</p>
          <div class="request-actions">
            <button class="btn">Подробнее</button>
            <button class="btn">Отредактировать</button>
            <button class="btn">Удалить</button>
          </div>
        </div>

      {% endfor %}

      <!-- Можно добавить другие заявки по аналогии -->
    </section>
  </main>
{% endblock %}
