{% extends 'redactor-base.html' %}
{% load static %}

{% block content %}
<main class="main-content">
  <section class="editor-review">
    <h2>Проверка статьи</h2>

    <div class="article-info">
      <p><strong>Название статьи: </strong> {{ object.article.title }}</p>
      <p><strong>Автор статьи: </strong> {{ object.article.authors }}</p>
      <p><strong>Электронный адрес отправителя: </strong> {{ object.responsible.email }}</p>
      <p><strong>Аннотация: </strong>{{ object.article.annotation|safe }}</p>
      <p><strong>Ключевые слова:</strong>
        {% for tag in object.article.tags.all %}
          {{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>

      <p><strong>Файл статьи:</strong> <a href="{{ object.article.file.url }}" target="_blank">Скачать</a></p>
      <p><strong>Сведения об антиплагиате:</strong> <a href="{{ object.article.plagiarism.url }}" target="_blank">Скачать</a></p>
      <p><strong>Статус:</strong> {{ object.get_status_display }}</p>

    </div>
<!--    <h2>Рецензенты</h2>-->

<!--    <button type="button" class="btn add-reviewer-btn" onclick="openReviewerModal()" title="Добавить рецензента">-->
<!--      + Добавить-->
<!--    </button>-->
<!--    {% if reviews %}-->
<!--    <table class="reviewers-table">-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th>ФИО</th>-->
<!--          <th>Рецензия</th>-->
<!--          <th>Действие</th>-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        {% for review in reviews %}-->
<!--          <tr>-->
<!--            <td>Скрыто</td>-->
<!--            {% if review.is_not_draft %}-->
<!--              <td>Рецензия не готова</td>-->
<!--            {% else %}-->
<!--              <td><a href="{% url 'review-detail' review.pk %}">Скачать рецензию</a></td>-->
<!--            {% endif %}-->

<!--            {% if review.is_not_draft %}-->
<!--              <td><a href="" class="btn btn-small">Рецензия не готова</a></td>-->
<!--            {% else %}-->
<!--              <td><a href="{% url 'review-detail' review.pk %}" class="btn btn-small">Перейти</a></td>-->
<!--            {% endif %}-->
<!--          </tr>-->
<!--      {% endfor %}-->

<!--      </tbody>-->
<!--    </table>-->
<!--    {% endif %}-->

<!--    {{ comment_form.media }}-->
<!--    <form id="editorDecisionForm" method="POST">-->
<!--      {% csrf_token %}-->
<!--        <div class="input-group">-->
<!--          {{ comment_form.as_p }}-->
<!--        </div>-->

<!--      <div class="btn-group">-->
<!--        <button type="submit" class="btn reject" name="decision" value="reject">Отклонить</button>-->
<!--        <button type="submit" class="btn reject" name="decision" value="revision">Отправить на доработку</button>-->
<!--        <button type="submit" class="btn approve" name="decision" value="approve">Отправить рецензенту</button>-->
<!--        <button type="submit" class="btn approve" name="decision" value="accept">Принять к публикации</button>-->
<!--      </div>-->
<!--    </form>-->


  </section>
</main>
</div>



{% endblock %}}