{% extends 'guest-base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  <title>{% trans 'Авторам' %}</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}
{% block content %}
  <div class="page-wrapper">

    <!-- Контент -->
    <main class="main-content">
      <h1>{% trans 'Информация для авторов' %}</h1>
      <section class="authors-section">
        <p><strong>{% trans 'Уважаемые авторы!' %}</strong>{% trans 'Благодарим вас за интерес к публикации в нашем научном журнале. Ниже представлены основные требования и рекомендации.' %}</p>

        <h2>{% trans 'Требования к статьям:' %}</h2>
        <ul>
          <li>Оригинальность и научная новизна материала;</li>
          <li>Объем статьи — от 5 до 15 страниц;</li>
          <li>Структура: аннотация, ключевые слова, введение, основная часть, заключение, список литературы;</li>
          <li>Языки публикации: казахский, русский, английский;</li>
          <li>Файл статьи должен быть в формате DOCX.</li>
        </ul>

        <h2>Как отправить статью:</h2>
        <ol>
          <li>Заполните авторскую справку;</li>
          <li>Подготовьте статью в соответствии с требованиями;</li>
          <li>Отправьте статью и справку на электронную почту: <a href="mailto:vestnik@tau-edu.kz">zharshy@tau-edu.kz</a></li>
        </ol>

        <h2>Процесс рецензирования:</h2>
        <p>Все статьи проходят внутреннюю и внешнюю рецензию. После рецензирования автору предоставляется ответ о принятии, доработке или отклонении статьи.</p>

        <h2>Публикационная этика:</h2>
        <p>Авторы обязуются соблюдать академическую честность, избегать плагиата и предоставлять достоверную информацию.</p>

        <div class="btn-group">
          <a href="documents/template.docx" class="btn" download>{% trans 'Скачать шаблон статьи' %}</a>
          <a href="documents/author-form.docx" class="btn" download>{% trans 'Скачать авторскую справку' %}</a>
        </div>
      </section>
    </main>

  </div>
{% endblock %}