{% extends 'guest-base.html' %}
{% load static %}
  {% block title %}
  <title>Контакты</title>
  {% endblock %}
{% block css %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="page-wrapper">


    <!-- Контент -->
    <main class="main-content">
      <h1>Свяжитесь с нами</h1>
      <section class="contact-section">
        <div class="contact-card">
          <h2><span class="material-icons">location_on</span> Адрес</h2>
          <p>г. Астана, пр. Ықылас дүкенұлы, 29, Университет Туран-Астана</p>
        </div>
        
        <div class="contact-card">
          <h2><span class="material-icons">email</span> Электронная почта</h2>
          <p><a href="mailto:journal@tau-edu.kz">zharshy@tau-edu.kz</a></p>
        </div>
        
        <div class="contact-card">
          <h2><span class="material-icons">phone</span> Телефон</h2>
          <p>+7 (7172) 64-43-10</p>
        </div>

        <div class="contact-card">
          <h2><span class="material-icons">person</span> Ответственный редактор</h2>
          <p>Доценко А.Н<br>e-mail: <a href="mailto:editor@tau-edu.kz">zharshy@tau-edu.kz</a></p>
        </div>
      </section>
    </main>


  </div>
{% endblock %}
