{% extends 'guest-base.html' %}
{% load i18n %}

{% load static %}
{% block content %}
  <!-- Основной контент -->
  <main class="main-content">
    <h1>Публикации</h1>
    
    <!-- Поиск -->
    <section class="search-section">
      <form method="get">
        <input type="text" name="q" class="search-bar" placeholder="{% trans 'Поиск публикаций...' %}">
        <button type="submit" class="btn">{% trans 'Поиск' %}</button>
      </form>

    </section>

    <div class="content-wrapper">
      <!-- Список публикаций -->
      <section class="publications-section">
        {% for obj in object_list %}
          <div class="publication-item">
            <h2>{{ obj.article.title }}</h2>
  <!--          <p><strong>{{ obj.article.annotation_ru|safe }}</strong></p>-->
            <p><strong>{% trans 'Авторы' %}: </strong>{{ obj.article.authors }}</p>
            <p><strong>{% trans 'Категория' %}: </strong>{{ obj.article.category.title }}</p>
            <p><strong>{% trans 'PDF' %}:</strong> <a href="{{ obj.manuscript.url }}" target="_blank">{% trans 'Скачать PDF (Kaz)' %}</a></p>
            <p><strong>{% trans 'Страницы' %}:</strong> 9-24</p>
            <p><strong>{% trans 'Цитирования' %}:</strong> 103</p>
            <p><strong>{% trans 'Просмотры' %}:</strong> 150</p>
            <p><strong>{% trans 'Аннотация' %}:</strong> <span class="annotation-text">{{ obj.article.annotation_ru|safe }}</span></p>
            <a href="{% url 'article_detail' obj.pk %}" class="btn">{% trans 'Просмотреть статью' %}</a>
          </div>
        {% empty %}
            <p>Ничего не найдено.</p>
        {% endfor %}
        
      </section>

      <!-- Популярные статьи -->
      <aside class="popular-articles">
        <!-- Кнопка отправки статьи -->
<div class="submit-article-btn-container">
  <a href="{%  url 'login' %}" class="btn submit-article-btn">{% trans 'Отправить статью' %}</a>
</div>

        <h3>Популярные статьи</h3>
        <ul>
          <li><a href="#">Как цифровизация меняет экономику Казахстана</a> — Просмотры: 250</li>
          <li><a href="#">Будущее устойчивого развития в Азии</a> — Просмотры: 215</li>
          <li><a href="#">Перспективы зеленой экономики в мире</a> — Просмотры: 180</li>
        </ul>
      </aside>
    </div>

       {% include "includes/pagination.html" %}

  </main>

  <!-- Футер -->

{% endblock %}