{% extends 'guest-base.html' %}

{% load static %}
{% block content %}
  <!-- Основной контент -->
  <main class="main-content">
    <h1>Публикации</h1>
    
    <!-- Поиск -->
    <section class="search-section">
      <form method="get">
        <input type="text" name="q" class="search-bar" placeholder="Поиск публикаций...">
        <button type="submit" class="btn">Поиск</button>
      </form>

    </section>

    <div class="content-wrapper">
      <!-- Список публикаций -->
      <section class="publications-section">
        {% for obj in object_list %}
          <div class="publication-item">
            <h2>{{ obj.article.title_ru }}</h2>
  <!--          <p><strong>{{ obj.article.annotation_ru|safe }}</strong></p>-->
            <p><strong>Авторы: </strong>{{ obj.article.authors }}</p>
            <p><strong>Категория: </strong>{{ obj.article.category.title_ru }}</p>
            <p><strong>PDF:</strong> <a href="{{ obj.manuscript.url }}" target="_blank">Скачать PDF (Kaz)</a></p>
            <p><strong>Страницы:</strong> 9-24</p>
            <p><strong>Цитирования:</strong> 103</p>
            <p><strong>Просмотры:</strong> 150</p>
            <p><strong>Аннотация:</strong> <span class="annotation-text">{{ obj.article.annotation_ru|safe }}</span></p>
            <a href="{% url 'article_detail' obj.pk %}" class="btn">Просмотреть статью</a>
          </div>
        {% empty %}
            <p>Ничего не найдено.</p>
        {% endfor %}
        
      </section>

      <!-- Популярные статьи -->
      <aside class="popular-articles">
        <!-- Кнопка отправки статьи -->
<div class="submit-article-btn-container">
  <a href="{%  url 'login' %}" class="btn submit-article-btn">Отправить статью</a>
</div>

        <h3>Популярные статьи</h3>
        <ul>
          <li><a href="#">Как цифровизация меняет экономику Казахстана</a> — Просмотры: 250</li>
          <li><a href="#">Будущее устойчивого развития в Азии</a> — Просмотры: 215</li>
          <li><a href="#">Перспективы зеленой экономики в мире</a> — Просмотры: 180</li>
        </ul>
      </aside>
    </div>

       {% include "includes/pagination.html" %}

  </main>

  <!-- Футер -->

{% endblock %}