{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <link rel="stylesheet" href="{% static 'css/requests.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
  <!-- Основной контент -->
  <main class="main-content">
    <section class="requests-section">
      <h1>Мои загруженные статьи</h1>
      <div class="filters">
        <input type="text" placeholder="Поиск по заявкам" class="search-bar">
        <select class="status-filter">
          <option value="all">Все статусы</option>
          <option value="in-progress">На рассмотрении</option>
          <option value="completed">Завершено</option>
        </select>
      </div>
      <br>
      {% for obj in object_list %}
        <div class="requests-list">
          <!-- Пример заявки -->
          <div class="request-item">
            <h2>{{ obj.title }}</h2>
            <p>Авторы: {{ obj.authors }}</p>
            <p>Аннотация: {{ obj.annotation }}</p>
            <p>Дата подачи: {{ obj.date }}</p>
            <button class="btn">Просмотр</button>

            <button class="btn openModalBtn" data-modal-id="modal{{ obj.id }}">Отправить на публикацию</button>
          </div>

          <!-- Модальное окно для каждой заявки -->
          <div id="modal{{ obj.id }}" class="modal">
            <div class="modal-content">
              <span class="close" data-modal-id="modal{{ obj.id }}">&times;</span>
              <h2>Отправка статьи на публикацию</h2>

              <form method="POST" enctype="multipart/form-data" id="publicationForm{{ obj.id }}">
              {% csrf_token %}
                <input type="hidden" name="article_id" value="{{ obj.pk }}">

              <div class="form-group">
                {{ form.exclusive_submission.label_tag }}
                {{ form.exclusive_submission }}
              </div>

              <div class="form-group">
                {{ form.no_plagiarism.label_tag }}
                {{ form.no_plagiarism }}
              </div>

              <div class="form-group">
                {{ form.authors_confirmed.label_tag }}
                {{ form.authors_confirmed }}
              </div>

              <div class="form-group">
                {{ form.ai_usage_details.label_tag }}
                {{ form.ai_usage_details }}
              </div>

              <div class="form-group">
                {{ form.manuscript.label_tag }}
                {{ form.manuscript }}
              </div>

              <div class="form-group">
                {{ form.authors_file.label_tag }}
                {{ form.authors_file }}
              </div>

              <div class="form-group">
                {{ form.cover_letter.label_tag }}
                {{ form.cover_letter }}
              </div>

              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="add-request">
        <a href="{% url 'dashboard' %}">
          <button class="btn">Загрузить статью</button>
        </a>
      </div>
    </section>
  </main>

  <script>
    // Получаем все кнопки для открытия модальных окон
    const openModalBtns = document.querySelectorAll('.openModalBtn');

    openModalBtns.forEach(button => {
      // При клике на кнопку открываем соответствующее модальное окно
      button.addEventListener('click', () => {
        const modalId = button.getAttribute('data-modal-id');
        const modal = document.getElementById(modalId);
        modal.style.display = "block";
      });
    });

    // Закрытие модального окна при клике на крестик
    const closeModalBtns = document.querySelectorAll('.close');
    closeModalBtns.forEach(button => {
      button.addEventListener('click', () => {
        const modalId = button.getAttribute('data-modal-id');
        const modal = document.getElementById(modalId);
        modal.style.display = "none";
      });
    });

    // Закрытие модального окна, если кликнуть в любое место вне окна
    window.addEventListener('click', (event) => {
      const modals = document.querySelectorAll('.modal');
      modals.forEach(modal => {
        if (event.target === modal) {
          modal.style.display = "none";
        }
      });
    });

  </script>
{% endblock %}