{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Загрузка статьи</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Подключаем внешний файл стилей -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
  .input-group {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
  }

  .input-group label {
    display: block;
    margin-bottom: 8px;
  }

  .input-group select,
  .input-group input,
  .input-group textarea {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  }
</style>
{% endblock %}

{% block content %}
  <!-- Основной контент -->
  <main class="main-content">
    <section class="upload-section">
      <h2>Загрузить статью</h2>
  {{ form.media }}

              <form method="post" enctype="multipart/form-data" id="uploadForm">
              {% csrf_token %}
              <div class="input-group">
                Выберите тип статьи:
                {{ form.category }}
              </div>
              <div class="input-group">
                Название статьи на Английском:
                {{ form.title }}
              </div>
              <div class="input-group">
                Название статьи на Казахском:
                {{ form.title_kk }}
              </div>
              <div class="input-group">
                Название статьи на Русском:
                {{ form.title_ru }}
              </div>

              <div class="input-group">
                Аннотация на Английском:
                {{ form.annotation }}
              </div>
              <div class="input-group">
                Аннотация на Казахском:
                {{ form.annotation_kk }}
              </div>
              <div class="input-group">
                Аннотация на Русском:
                {{ form.annotation_ru }}
              </div>


              <div class="input-group">
                Авторы:
                {{ form.authors }}
              </div>

              <div class="input-group">
                Загрузить статью:
                {{ form.file }}
              </div>
              <form method="POST" enctype="multipart/form-data" id="publicationForm{{ obj.id }}">
              {% csrf_token %}
                <input type="hidden" name="article_id" value="{{ obj.pk }}">

              <div class="form-group">
                {{ bid_form.exclusive_submission.label_tag }}
                {{ bid_form.exclusive_submission }}
              </div>

              <div class="form-group">
                {{ bid_form.no_plagiarism.label_tag }}
                {{ bid_form.no_plagiarism }}
              </div>

              <div class="form-group">
                {{ bid_form.authors_confirmed.label_tag }}
                {{ bid_form.authors_confirmed }}
              </div>

              <div class="form-group">
                {{ bid_form.ai_usage_details.label_tag }}<br>
                {{ bid_form.ai_usage_details }}
              </div>

              <div class="form-group">
                {{ bid_form.manuscript.label_tag }}
                {{ bid_form.manuscript }}
              </div>

              <div class="form-group">
                {{ bid_form.authors_file.label_tag }}
                {{ bid_form.authors_file }}
              </div>

              <div class="form-group">
                {{ bid_form.cover_letter.label_tag }}
                {{ bid_form.cover_letter }}
              </div>

              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>

  <button type="submit" class="btn">Загрузить статью</button>
</form>

    </section>

  </main>

{% endblock %}}
