{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Загрузка статьи</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Подключаем внешний файл стилей -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
  <!-- Основной контент -->
  <main class="main-content">
    <section class="upload-section">
      <h2>Загрузить статью</h2>
      <form method="post" enctype="multipart/form-data" id="uploadForm">
  {% csrf_token %}
  <div class="input-group">
    {{ form.title.label_tag }}
    {{ form.title }}
  </div>

  <div class="input-group">
    {{ form.annotation.label_tag }}
    {{ form.annotation }}
  </div>

  <div class="input-group">
    {{ form.authors.label_tag }}
    {{ form.authors }}
  </div>

  <div class="input-group">
    {{ form.file.label_tag }}
    {{ form.file }}
  </div>

  <button type="submit" class="btn">Загрузить статью</button>
</form>

    </section>

  </main>
{% endblock %}}
