{% extends 'redactor-base.html' %}
{% load static %}

{% block content %}
<main class="main-content">
  <section class="editor-review">
    <h2>Проверка статьи</h2>

    <div class="article-info">
      <p><strong>Название статьи: </strong> {{ object.article.title }}</p>
      <p><strong>Аннотация: </strong>{{ object.article.annotation|safe }}</p>
      <p><strong>Ключевые слова:</strong> искусственный интеллект, обучение, нейросети</p>
      <p><strong>Файл статьи:</strong> <a href="{{ object.article.file.url }}" target="_blank">Скачать</a></p>
      <p><strong>Сведения об антиплагиате:</strong> <a href="{{ object.article.plagiarism.url }}" target="_blank">Скачать</a></p>
      <p><strong>Статус:</strong> {{ object.get_status_display }}</p>

    </div>
    {% if reviews %}
      {% for review in reviews %}
      <div class="reviewer-response">
        <h3>Ответ рецензента</h3>
        <p><strong>Рецензент:</strong> {{ review.reviewer }}</p>
        <p><strong>Новизна:</strong> {{ review.novelty|safe }}</p>
        <p><strong>Оригинальность:</strong> {{ review.originality|safe }}</p>
        <p><strong>Инновационность:</strong> {{ review.innovation|safe }}</p>
        <p><strong>Значимость:</strong> {{ review.significance|safe }}</p>
        <p><strong>Структурированность:</strong> {{ review.structuredness|safe }}</p>
        <p><strong>Литературный уровень:</strong> {{ review.literary_level|safe }}</p>
        <p><strong>Качество оформления:</strong> {{ review.conclusion|safe }}</p>
        <p><strong>Заключение:</strong> {{ review.plagiarism|safe }}</p>
      </div>
    {% endfor %}
    {% endif %}

    <form id="editorDecisionForm" method="POST">
      {% csrf_token %}
      <div class="btn-group">
        <button type="submit" class="btn reject" name="decision" value="reject">Отклонить</button>
        <button type="submit" class="btn reject" name="decision" value="revision">Отправить на доработку</button>
        <button type="submit" class="btn approve" name="decision" value="approve">Отправить рецензенту</button>
        <button type="submit" class="btn approve" name="decision" value="accept">Принять к публикации</button>
      </div>
    </form>
  </section>
</main>
</div>


<script>
  function sendBackToAuthor() {
    const comment = document.getElementById('editor-comment').value.trim();
    if (!comment) return alert('Пожалуйста, введите комментарий.');

    alert('Статья отправлена автору на доработку с комментарием.');
    // Здесь можно сделать POST-запрос на сервер с решением редактора
  }

  function sendToReviewer() {
    const comment = document.getElementById('editor-comment').value.trim();
    if (!comment) return alert('Пожалуйста, введите комментарий.');

    alert('Статья отправлена рецензенту на рассмотрение.');
    // Здесь можно сделать POST-запрос на сервер для направления статьи рецензенту
  }
</script>
{% endblock %}}