{% extends 'redactor-base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<main class="main-content">
  <section class="editor-review">
    <h2>{% trans 'Проверка статьи' %}</h2>

    <div class="article-info">
      <p><strong>{% trans 'Название статьи' %}: </strong> {{ object.article.title }}</p>
      <p><strong>{% trans 'История версии статьи' %}: </strong><a href="{% url 'version_list' object.pk %}">{% trans 'Просмотреть' %}</a></p>
      <p><strong>{% trans 'Автор статьи' %}: </strong> {{ object.article.authors }}</p>
      <p><strong>{% trans 'Электронный адрес отправителя' %}: </strong> {{ object.responsible.email }}</p>
      <p><strong>{% trans 'Аннотация' %}: </strong>{{ object.article.annotation|safe }}</p>
      <p><strong>{% trans 'Ключевые слова' %}:</strong>
        {% for tag in object.article.tags.all %}
          {{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>

      <p><strong>{% trans 'Файл рукописи статьи' %}: </strong> <a href="{{ object.manuscript.url }}" target="_blank">{% trans 'Скачать' %}</a></p>
      <p><strong>{% trans 'Файл со сведениями об авторах' %}: </strong> <a href="{{ object.authors_file.url }}" target="_blank">{% trans 'Скачать' %}</a></p>
      <p><strong>{% trans 'Файл с заполненным и подписанным всеми авторами письмом' %}:</strong> <a href="{{ object.cover_letter.url }}" target="_blank">{% trans 'Скачать' %}</a></p>
      <p><strong>{% trans 'Сведения об антиплагиате' %}:</strong> <a href="{{ object.article.plagiarism.url }}" target="_blank">{% trans 'Скачать' %}</a></p>
      <p><strong>{% trans 'Статус' %}:</strong> {{ object.get_status_display }}</p>

    </div>
    <h2>{% trans 'Рецензенты' %}</h2>

    <button type="button" class="btn add-reviewer-btn" onclick="openReviewerModal()" title="Добавить рецензента">
      + {% trans 'Добавить' %}
    </button>
    {% if reviews %}
    <table class="reviewers-table">
      <thead>
        <tr>
          <th>{% trans 'Исполнитель' %}</th>
          <th>{% trans 'Статус' %}</th>
          <th>{% trans 'Действие' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
          <tr>
            <td>{{ review.reviewer.first_name }} {{ review.reviewer.last_name }}</td>
            {% if review.is_not_draft %}
              <td>{% trans 'Рецензия не готова' %}</td>
            {% else %}
              <td><a href="{% url 'review-detail' review.pk %}">{% trans 'Скачать рецензию' %}</a></td>
            {% endif %}
              <td><a href="{% url 'inactive-review' review.pk %}" class="btn btn-small">{% trans 'Удалить' %}</a></td>
          </tr>
      {% endfor %}

      </tbody>
    </table>
    {% endif %}

<div id="reviewerModal" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close" onclick="closeReviewerModal()">&times;</span>
    <h3>{% trans 'Выберите рецензента' %}</h3>
    <form id="addReviewerForm" method="POST">
      {% csrf_token %}
      <label for="reviewer">{% trans 'Рецензент:' %}</label>
      <select name="reviewer" id="reviewer">
        {% for rev in reviewer %}
          <option value="{{ rev.pk }}">{{ rev.first_name }} {{ rev.last_name }}. {% trans 'Языки' %} - {{ rev.languages }}</option>

        {% endfor %}
      </select>
      <br><br>
      <button type="button" onclick="assignReviewer()" class="btn approve">{% trans 'Назначить' %}</button>
    </form>
  </div>
</div>

    {{ comment_form.media }}
    <form id="editorDecisionForm" method="POST">
      {% csrf_token %}
        <div class="input-group">
          {{ comment_form.as_p }}
        </div>

      <div class="btn-group">
        <button type="submit" class="btn reject" name="decision" value="reject">{% trans 'Отклонить' %}</button>
        <button type="submit" class="btn reject" name="decision" value="revision">{% trans 'Отправить на доработку' %}</button>
        <button type="submit" class="btn approve" name="decision" value="approve">{% trans 'Отправить рецензенту' %}</button>
        <button type="submit" class="btn approve" name="decision" value="accept">{% trans 'Принять к публикации' %}</button>
      </div>
    </form>


  </section>
</main>
</div>

<script>
    const assignReviewerUrl = "{% url 'assign_reviewer' %}";
</script>

<script>
  function sendBackToAuthor() {
    const comment = document.getElementById('editor-comment').value.trim();
    if (!comment) return alert('Пожалуйста, введите комментарий.');

    alert('Статья отправлена автору на доработку с комментарием.');
    // Здесь можно сделать POST-запрос на сервер с решением редактора
  }

  function sendToReviewer() {
    const comment = document.getElementById('editor-comment').value.trim();
    if (!comment) return alert('Пожалуйста, введите комментарий.');

    alert('Статья отправлена рецензенту на рассмотрение.');
    // Здесь можно сделать POST-запрос на сервер для направления статьи рецензенту
  }
</script>

<script>
  function openReviewerModal() {
    document.getElementById('reviewerModal').style.display = 'block';
  }

  function closeReviewerModal() {
    document.getElementById('reviewerModal').style.display = 'none';
  }

function assignReviewer() {
    const selectEl = document.getElementById('reviewer');
    const selectedPk = selectEl.value;

    fetch(assignReviewerUrl, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()  // Защита от CSRF
        },
        body: JSON.stringify(
        {
         reviewer_id: selectedPk,
         bid_id: {{ object.pk }},
          }
        )
    })
    .then(response => response.json())
    .then(data => {
        alert(data.message);
        closeReviewerModal();
    })
    .catch(error => {
        console.error('Ошибка:', error);
    });
}

// Получение CSRF-токена из cookie
function getCSRFToken() {
    const name = 'csrftoken';
    const cookies = document.cookie.split(';');
    for (const cookie of cookies) {
        const trimmed = cookie.trim();
        if (trimmed.startsWith(name + '=')) {
            return trimmed.substring(name.length + 1);
        }
    }
    return '';
}



  window.onclick = function(event) {
    const modal = document.getElementById('reviewerModal');
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>


{% endblock %}}