{% extends 'redactor-base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<main class="main-content">
  <section class="editor-review">
    <h2>{% trans 'Версия статьи №' %}{{ object.pk }}</h2>

    <div class="article-info">
      <p><strong>{% trans 'Название статьи' %}: </strong> {{ article_version.article.title }}</p>
      <p><strong>{% trans 'Автор статьи' %}: </strong> {{ article_version.article.authors }}</p>
      <p><strong>{% trans 'Электронный адрес отправителя' %}: </strong> {{ article_version.responsible.email }}</p>
      <p><strong>{% trans 'Аннотация' %}: </strong>{{ article_version.article.annotation|safe }}</p>
      <p><strong>{% trans 'Сведения об антиплагиате' %}: </strong><a href="{{ article_version.article.plagiarism.url }}">{% trans 'Скачать' %}</a></p>
      <p><strong>{% trans 'Ключевые слова' %}:</strong>
        {% for tag in article_version.article.tags.all %}
          {{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>

      <p><strong>{% trans 'Файл рукописи статьи' %}: </strong> <a href="{{ object.manuscript.url }}" target="_blank">{% trans 'Скачать' %}</a></p>
      <p><strong>{% trans 'Файл со сведениями об авторах' %}: </strong> <a href="{{ object.authors_file.url }}" target="_blank">{% trans 'Скачать' %}</a></p>
      <p><strong>{% trans 'Файл с заполненным и подписанным всеми авторами письмом' %}:</strong> <a href="{{ object.cover_letter.url }}" target="_blank">{% trans 'Скачать' %}</a></p>
      <p><strong>{% trans 'Сведения об антиплагиате' %}:</strong> <a href="{{ object.article.plagiarism.url }}" target="_blank">{% trans 'Скачать' %}</a></p>

    </div>
    {% if reviews %}
    <h2>{% trans 'Рецензенты' %}</h2>
    <table class="reviewers-table">
      <thead>
        <tr>
          <th>{% trans 'ФИО' %}</th>
          <th>{% trans 'Рецензия' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
          <tr>
            <td>Скрыто</td>
            {% if review.is_not_draft %}
              <td>{% trans 'Рецензия не готова' %}</td>
            {% else %}
              <td><a href="{% url 'review-detail' review.pk %}">{% trans 'Скачать рецензию' %}</a></td>
            {% endif %}
          </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </section>
</main>
</div>



{% endblock %}
